:root {
	--primary-color: #bea15a;
	--secondary-color: #685221;
	--background-color: #dfdfdf;
	--alert-color: #c0564a;
}

.btn-primary {
	background-color: var(--primary-color);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	--bs-btn-active-bg: var(--primary-color);
	--bs-btn-hover-bg: var(--secondary-color);
}

.btn-outline-primary {
	color: var(--primary-color);
	border: 2px solid var(--primary-color);
	background-color: transparent;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	--bs-btn-hover-bg: var(--primary-color);
	--bs-btn-hover-border-color: var(--primary-color);
	--bs-btn-active-bg: var(--primary-color);
	--bs-btn-active-border-color: var(--primary-color);
}

a {
	color: var(--primary-color);
	text-decoration: none;
}
body {
	background-color: var(--background-color);
}

.img-background {
	background-image: url("./../images/login-bg.jpg");
	background-size: cover;
	background-position: center;
}
.background-blur {
	backdrop-filter: blur(12px);
}
.is-invalid {
	--bs-form-invalid-border-color: var(--alert-color);
}

.invalid-feedback {
	--bs-form-invalid-color: var(--alert-color);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: white;
	background-color: var(--primary-color);
}
.nav-link {
	color: var(--primary-color);
}
.nav-link:hover {
	color: var(--secondary-color);
}
input[type="checkbox"] {
	accent-color: var(--primary-color);
}

.fixed-top {
	position: sticky;
}
.accordion {
	--bs-accordion-active-color: white;
	--bs-accordion-active-bg: var(--primary-color);
	--bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem var(--secondary-color);
}
.navbar-icon {
	color: var(--primary-color);
}
.navbar-glass {
	background: rgba(223, 224, 223, 0.55);
	backdrop-filter: blur(4.5px);
	-webkit-backdrop-filter: blur(4.5px);
}
